@model Blog.Models.Category

@{
    ViewData["Title"] = "Add Category";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select class="form-control" name="ParentId">
                    <option value="0">Select Category</option>
                    @if (ViewBag.category != null) {
                    @foreach (var item in ViewBag.category)
                    {
                    <option value="@item.Id">@item.CategoryName</option>
                    }
                    }
                </select>                
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Category" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
